<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Create:A.N. Abdul Rahman,Portofolio Website 2021" />
    <link rel="icon" href="code.png">
    <title>Portofolio || Abdul</title>
</head>

<body>
    <nav-bar></nav-bar>
    <konten-bar></konten-bar>
    <footer-bar></footer-bar>
    <script src="https://kit.fontawesome.com/0477498157.js" crossorigin="anonymous"></script>
    <script>
    </script>
</body>

</html>