/* color 1 00CC8F */
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

header {
  background-image: radial-gradient(circle, #414454, #323647, #393D4D);
}

.topnav a {
  float: left;
  display: block;
  color: #fff !important;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-in-out;
}

.navbar-toggler-icons {
  display: inline-block;
  font-size: 30px;
  color: #ececec;
  vertical-align: middle;
  content: "";
  background: 50% / 100% 100% no-repeat
}

.bgcolor,
.scrolled {
  background-color: #474d66;
  transition: all 0.3s linear;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #00CC8F !important;
  color: #fff !important;
  font-weight: 600;
  padding: 6px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.topnav a:hover {
  color: #00CC8F !important;
  border-bottom: 2px solid #00CC8F;
}

.topnav a.active {
  border-bottom: 3px solid #fff;
}

/* akhir navigasi */
/* ini CSS untuk Header */
.jumbotron {
  padding: 6rem;
}

.icon a {
  padding-left: 30px;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  float: left;
  display: block;
  padding: 8px 12px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease-in-out;
}

.icon a:hover {
  color: #00CC8F;
  border-bottom: 3px solid #00CC8F;
}

.icon a.active {
  border-bottom: 3px solid #00CC8F;
}


/* ini akhir CSS Header */
/* about */
/* .skills-bar {
  position: relative;
}

.about {
  background-color: #aa01013a;
}

.about-hobi p {
  font-size: 24px;
  font-weight: 600;
  color: #00CC8F;
}

.progress-icon {
  color: #00CC8F;
}

.progress-icon i {
  font-size: 32px;
}

.heading__tagline {
  color: #00CC8F;
}

.img-about {
  border-radius: 8px;
}

.heading hr {
  box-sizing: border-box;
  overflow: visible;
  margin: auto;
  width: 60px;
  height: 3px;
  background-color: #00CC8F;
}

.paragraf-about::first-letter {
  font-size: 60px;
  line-height: 60px;
  color: #00CC8F;
}

.heading__name span {
  color: #00CC8F;
}



.section_head_about {
  margin-bottom: 20px;
  position: relative;
}

.section_head_about h3 {
  position: relative;
  padding: 10px 0 15px 10px;
  line-height: 1px;
  border-left: 1px solid #eee;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 0;
}

.section_head_about h3:before {
  background: #00CC8F;
}

.section_head_about h3:before {
  content: '';
  width: 4px;
  height: 38px;
  position: absolute;
  left: -1px;
  bottom: 0;
} */

/* home */
.support {
  margin-bottom: 70px;
}

.home {
  overflow-x: hidden;
}

#project,
#sertifikat,
#contact {
  padding: 2rem;
}

section {
  overflow-x: hidden;
}

.btn-outline-success {
  color: #00CC8F !important;
  border-color: #00CC8F !important;
}

.btn-outline-success:hover {
  background-color: #00CC8F !important;
  border-color: #00CC8F !important;
  color: #fff !important;
}

.btn-success {
  background-color: #00CC8F !important;
  border-color: #00CC8F !important;
}

.first-name {
  color: #fff;
}

.last-name {
  color: #00CC8F;
  display: inline;
}

.first-name,
.last-name {
  font-size: 2.5rem;
}

.title-info {
  color: #b5bdd6;
  margin-top: 35px;
}

/* akhir Home */
/* skills */
#skills,
#project,
#contact {
  background-color: #282B38;
}

.bg-skills {
  background-color: #383b4e;
  border-radius: 10px;
}

.img-icons img {
  width: 150px;
  height: auto;
}

.img-svg-html {
  filter: invert(47%) sepia(66%) saturate(3311%) hue-rotate(348deg) brightness(103%) contrast(89%);
}

.img-svg-css {
  filter: invert(71%) sepia(52%) saturate(4188%) hue-rotate(166deg) brightness(92%) contrast(90%);
}

.img-svg-js {
  filter: invert(91%) sepia(53%) saturate(7328%) hue-rotate(324deg) brightness(102%) contrast(102%);
}

.img-svg-php {
  filter: invert(78%) sepia(63%) saturate(3480%) hue-rotate(198deg) brightness(75%) contrast(78%);
}

.img-svg-bts {
  filter: invert(36%) sepia(68%) saturate(752%) hue-rotate(226deg) brightness(83%) contrast(82%);
}

.img-svg-git {
  filter: invert(50%) sepia(89%) saturate(4089%) hue-rotate(343deg) brightness(96%) contrast(95%);
}

.img-svg-vscode {
  filter: invert(57%) sepia(62%) saturate(1111%) hue-rotate(176deg) brightness(87%) contrast(90%);
}

.heading-konten hr {
  box-sizing: border-box;
  overflow: visible;
  margin: auto;
  width: 60px;
  height: 3px;
  background-color: #00CC8F;
  margin-bottom: 20px;
}

/* akhir Skills */
/* sertifikat */
#sertifikat {
  background-image: linear-gradient(180deg, #3e4253, #323647);
}

.title-certificate {
  color: #00CC8F;
}

/* end sertikat */
/*contact */
.icon-contact i {
  font-size: 45px;
  color: #00CC8F;
}

.section_head_contact {
  margin-bottom: 35px;
  position: relative;
}

.section_head_contact p {
  position: relative;
  padding: 0 0 0 15px;
  line-height: 1px;
  border-left: 1px solid #eee;
  letter-spacing: 2px;
  font-size: 26px;
  margin-bottom: 0;
}

.section_head_contact p span {
  font-weight: 600;
  display: block;
  padding-bottom: 35px;
}

.section_head_contact p:before {
  background: #00CC8F;
}

.section_head_contact p:before {
  content: '';
  width: 1px;
  height: 45px;
  position: absolute;
  left: -1px;
  bottom: 0;
}

.section_head_sosmed {
  padding-top: 40px;
  margin-bottom: 60px;
  position: relative;
}

.section_head_sosmed p {
  position: relative;
  padding: 0 0 0 15px;
  line-height: 1px;
  border-left: 1px solid #eee;
  letter-spacing: 2px;
  font-size: 26px;
  margin-bottom: 0;
  font-weight: 300;
}

.section__contact p {
  font-size: 1.25rem;
  line-height: 1.25;
  margin-bottom: .5rem;
}

.section_head_sosmed p span {
  display: block;
  padding-bottom: 35px;
  font-weight: 600;
}

.section_head_sosmed p::before {
  background: #00CC8F;
}

.section_head_sosmed p::before {
  content: '';
  width: 1px;
  height: 55px;
  position: absolute;
  left: -1px;
  bottom: 0;
}

.icon-contact a:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid #000;
}

.social-media-container {
  background-color: #383b4e;
  padding: 30px 20px;
  position: relative;
}

.social-media-container ul {
  display: inline-block;
  margin-bottom: 0;
}

.social-media-container a {
  color: #fff;
  font-size: 16px;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 100%;
  margin-right: 15px;
  box-shadow: 2px 2px 20px rgb(0 0 0 / 15%);
  transition: all 0.2s ease-in-out;
}

.social-media-container a:hover {
  color: #00CC8F;
  padding-bottom: 10px;
  border-bottom: 3px solid #00CC8F;
  transform: scale(1.1);
}

.social-media-link i {
  font-size: 38px;
  margin-top: 10px;
}

.social-media-link a {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}

.social-media-link li {
  display: inline-block;
  margin-bottom: 5px;
  list-style: none;
}

.social-media-container::before {
  border-color: #00CC8F rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #00CC8F;
}

.social-media-container::before {
  left: 0;
  top: 0;
}

.social-media-container::after,
.social-media-container::before {
  border-style: solid;
  border-width: 2px;
  content: '';
  display: block;
  height: 50px;
  position: absolute;
  width: 50px;
}

.social-media-container::after {
  border-color: rgba(0, 0, 0, 0) #00CC8F #00CC8F rgba(0, 0, 0, 0);
}

.social-media-container::after {
  bottom: 0;
  right: 0;
}

/* akhir contact*/
/*img profile*/
.profile-img {
  width: 400px;
  margin-left: 50px;
  transition: transform 0.2s;
}

.profile-img:hover {
  transform: scale(1.1);
}

.go {
  min-width: 44px;
  min-height: 44px;
  justify-content: center;
  margin: 5px;
}

.nav-name a {
  color: #fff !important;
  font-weight: 600;
}

.nav-name a span {
  color: #00CC8F;
}

.hamburger,
.button-call {
  min-width: 44px;
  min-height: 44px;
}

/* img project */
.project-img {
  transition: transform 0.2s;
}

.project-img:hover {
  transform: scale(1.1);
}

.card-title {
  font-weight: 600;
  font-size: 18px;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: unset;
  top: unset !important;
  bottom: 50% !important;
  opacity: unset !important;
}

.img-carousel img {
  width: 400px;
  margin: auto;
}

.carousel-indicators {
  position: unset;
  margin-top: 10px;
}

.title-project {
  color: #00CC8F;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.project {
  background-color: #282B38;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 14px;
}

.carousel-control-prev-icon {
  margin-left: -10px;
}

.carousel-control-next-icon {
  margin-left: -25px;
}


.carousel-indicators .active {
  background-color: #fff;
  opacity: 1;
}

/*responsive CSS */
@media screen and (max-width: 480px) {
  .img-icons img {
    margin-left: 20px;
    width: 120px;
  }

  #project,
  #sertifikat,
  #contact {
    padding: 0;
  }

  .ml-1,
  .mx-1 {
    margin-top: 8px !important;
    margin-left: 0 !important;
  }

  .profile-img {
    margin: auto;
  }

  .card-project {
    width: 85%;
    margin: auto;
  }

  .card-title {
    font-weight: 600;
    font-size: 22px;
  }

  .about-hobi i {
    font-size: 75px;
  }

  .about-img img {
    width: 65%;
    margin: auto;
    display: block;
  }

  .jumbotron {
    padding: 2rem;
    margin-top: 40px;
  }

  a.download.button-sm-call.ml-3.btn.btn-outline-danger.text-start {
    color: #000 !important;
  }

  a.download.button-sm-call.ml-3.btn.btn-outline-danger.text-start:hover {
    color: #fff;
  }
}

@media screen and (max-width: 900px) and (min-width: 480px) {
  .img-icons img {
    margin-left: 35px;
  }

  .card-project {
    width: 95%;
    margin: auto;
  }

  .about-hobi i {
    font-size: 110px;
  }

  .about-img img {
    width: 70%;
    margin: auto;
    display: block;
  }

  .jumbotron {
    padding: 3rem;
  }
}

/* CSS Footer */
.footer {
  background-color: #282B38;
  display: block;
}

.footer p {
  font-weight: 600;
  font-size: 18px;
}

.about-hobi i {
  font-size: 140px;
}

.footer p i {
  color: #FF819F;
}

/* Akhir Css Footer */
/* Font */
.fs-4 {
  font-size: calc(1.275rem + 0.3vw) !important;
}

.fs-2 {
  font-size: calc(1.325rem + 0.9vw) !important;
}

.fs-5 {
  font-size: 1.25rem !important;
}

h5 {
  font-weight: 600 !important;
}

@media (min-width:1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1200px !important;
  }
}


@media screen and (max-width: 390px) {

  .img-icons img {
    margin-left: 22px;
    width: 100px;
  }
}