// Variables
$primaryColor : radial-gradient(circle, #414454, #323647, #393D4D);
$secondaryColor : #282B38;
$tersierColor : linear-gradient(180deg, #3e4253, #323647);
$cardColor : #383b4e;
$primaryTextColor : #00CC8F;
$secondaryTextColor : #b5bdd6;